
:root {

  /* colors */
  --color-blue: #457B9D;
  --color-red:  #DB504A;
  --color-green: #D4E4BC;
  --color-cream: #EFF2C0;
  --color-black:  #0F0F0F;



}

* {
  padding: 0px;
  margin: 0px 0px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: block;
}
